* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

section {
    height: 100%;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
}
nav h1 i{
    rotate: 45deg;
}
nav h1 {
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    display: flex;
    align-items: center;
}

nav h4 {
    font-size: 20px;
    font-weight: 200;
}

nav .part2 {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav button {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #000;
}
.center{
    background-color: red;
    height: 85%;
    width: 100%;
}
.center-part1{
    background-color: lightblue;
    height: 100%;
    width: 50%;
}
.center-part2{
    background-color: lightgreen;
    height: 100%;
    width: 50%;
}